.header__link {
  margin-top: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}