.photos__photo {
  display: flex;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.photos__photo:hover {
  opacity: 0.6;
}