.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-icon.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}